<h1 class="secondheading" style="color:red">{{title}}</h1>
<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="secondheading">{{desc}}</h3>
    </div>
    <div class="panel-body">
        <table class="table">
            <thead>
                <tr>
                    <th>Image</th>
                    <th>Name</th>
                    <th>Code</th>
                    <th>Price</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let prod of product">
                    <td>
                        <img [src]="prod.imageUrl"
                        [style.width.px]="imageWidth"/>
                    </td>
                    <td>
                        {{prod.productName}}
                    </td>
                    <td>
                        {{prod.productCode}}
                    </td>
                    <td>
                        {{prod.price}}
                    </td>
                </tr>
                
            </tbody>
        </table>
    </div>
</div>
