<h1 class="secondheading" style="color:red">{{title}}</h1>
<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="secondheading">{{desc}}</h3>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-2">
                Filter
            </div>
            <div class="col-md-4">
                <input type="text" [(ngModel)]="userText"/>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <h4>Number of product Filter on the basis of {{userText}} is 
                    {{(product|SearchPipe:userText).length}}
                </h4>
            </div>
        </div>
        <table class="table"  *ngIf="product && product.length; else loading">
            <thead>
                <tr>
                    <th>
                        <button class="btn btn-danger"
                        (click)="toggleImage()">
                           {{showImage?"Hide Image":"Show Image"}}
                        </button>
                    </th>
                    <th>Name</th>
                    <th>Code</th>
                    <th>Price</th>
                    <th>Date</th>
                    <th>Rating</th>
                </tr>
            </thead>
            {{showImage}}
            <tbody>
                <tr *ngFor="let prod of product | SearchPipe:userText">
                    <td>
                        <img [src]="prod.imageUrl"
                        *ngIf="showImage"
                
                        [style.width.px]="imageWidth"/>
                    </td>
                    <td>
                        <a [routerLink]="['/product',prod.productId]">
                            {{prod.productName|myUpperCase:'lower'}}
                        </a>
                    </td>
                    <td appColor>
                        {{prod.productCode|myUpperCase:'upper'}}
                    </td>
                    <td>
                        {{prod.price|Discount:6|currency:'GBP'}}
                    </td>
                    <td>
                        {{prod.releaseDate|date}}
                    </td>
                    <td>
                        <app-star [rating]="prod.starRating"
                        (ratingClicked)="dataRecive($event)"></app-star>
                    </td>
                </tr>
                
            </tbody>
        </table>
        <ng-template #loading>
            <img src="../../assets/loader.gif"/>
        </ng-template>
    </div>
</div>


<!--
    [queryParams]="{name:prod.productName, img:prod.imageUrl,details:prod.description }"
-->